@import './base.css';

:root {
  --el-color-primary: #42b883;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: #42b883;
  transition: 0.4s;
  padding: 3px;
}

/* 自定义表格头部样式 */
.el-table .el-table__header-wrapper thead th {
  background-color: #42b883 !important;
  color: white;
  font-weight: bold;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: block; /* 移除flex布局以免干扰我们的布局 */
    place-items: normal;
  }

  #app {
    display: block; /* 移除grid布局以免干扰我们的布局 */
    grid-template-columns: none;
    padding: 0;
  }
}
